// Navbar
.bg-light {
    background-color: #fff !important;
}

.navbar-brand {
    background-color: #fff;
    margin-top: -20px;
    padding-top: 20px;

    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #1E55A9;
            font-weight: lighter;

            &.active {
                color: #1E55A9 !important;
                font-weight: 600;
            }
        }
    }
}

.btn-navbar-right {
    margin: -10px -18px -10px 50px !important;
    height: 66px;
    width: 100px;
    border-radius: 0px;
}

.btn-login {
    background-color: #1E55A9;
    color: #ffffff;
    transition: .5s;

    &:hover {
        background-color: rgb(69, 135, 233);
        color: #ffffff;
    }
}


// Details

.section-details-header {
    min-height: 310px;
    background-color: #F7F9FF;
    margin-top: -120px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;

    .country-text {
        font-family: 'Ibarra Real Nova', serif;
        font-weight: bold;
        font-size: 40px;

        .country-title {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: lighter;
            font-size: 22px;
        }
    }

    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
        margin-top: 50PX;
        margin-left: 15px;
    }

    .breadcrumb-item {
        &.active {
            color: #1E55A9;
            font-weight: bold;
        }
    }

    .section-main-content {
        background-color: #F7F9FF;
        padding: 30px;
        padding-right: 40px;
    }

}

// Details

.section-details-header {
    min-height: 310px;
    background-color: #F7F9FF;
    margin-top: -120px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
        margin-top: 50PX;
        margin-left: 15px;
    }

    .breadcrumb-item {
        &.active {
            color: #1E55A9;
            font-weight: bold;
        }
    }

    .card-details-1 {
        padding: 30px;
        border-radius: 5px;
        margin-left: 15px;

        .left-content {
            h1 {
                font-size: 26px;
                font-weight: 600;
                margin-bottom: 0px;
            }

            p {
                font-size: 20px;
                font-weight: lighter;
            }

            .gallery {

                .xzoom-container {
                    display: block;
                    padding: 0 20px;

                    .xzoom {
                        width: 100%;
                        box-shadow: none;
                        margin-bottom: 15px;

                    }

                    .xactive {
                        border: 10px solid #1ABC9C;
                        box-shadow: none;
                    }


                }
            }
        }

        .right-content {
            margin-top: 70px;

            h2 {
                font-size: 20px;
                font-weight: 600;
            }

            .info {
                font-size: 16px;
                font-weight: lighter;
            }

            .features {
                margin-top: 10px;

                h2 {
                    font-size: 16px;
                    font-weight: 600;
                    margin-top: 4px;
                    margin-bottom: 0px;

                }

                p {
                    font-size: 14px;
                    font-weight: lighter;

                }

                .description {

                    float: left;
                    margin-left: 10px;
                    overflow: hidden;

                }

                .feature-img {
                    float: left;
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    .card-details-2 {
        padding: 30px;
        border-radius: 5px;
        margin-left: 15px;


        .left-content {
            h1 {
                font-size: 26px;
                font-weight: 600;
                margin-bottom: 0px;
            }

            p {
                font-size: 20px;
                font-weight: lighter;
            }

            img {
                width: 70px;
                margin-right: 5px;
            }
        }

        .right-content {

            h2 {
                font-size: 20px;
                font-weight: 600;
            }

            .card-details-3 {
                padding: 20px 0px 0px 20px;
                border-radius: 5px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom: 0;

                .table-details {
                    color: #1E55A9;

                    th {
                        font-weight: normal;
                    }

                    td {
                        font-weight: lighter;
                        float: right;
                    }
                }

            }

            .join-container {
                margin-top: -20px;

                .btn-join {
                    background-color: #FFB500;
                    color: #fff;
                    width: 100%;
                    height: 50px;
                    padding: 12px;

                    &:hover {
                        background-color: rgb(253, 204, 79);
                    }
                }
            }

            .cancel-container {


                .btn-cancel {
                    color: rgb(172, 172, 172);
                    width: 100%;
                    font-weight: lighter;
                    text-decoration: underline !important;

                    &:hover {
                        color: rgb(214, 214, 214);
                    }
                }
            }
        }
    }
}
