.bg-light {
  background-color: #fff !important;
}

.navbar-brand {
  background-color: #fff;
  margin-top: -20px;
  padding-top: 20px;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #1E55A9;
  font-weight: lighter;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #1E55A9 !important;
  font-weight: 600;
}

.btn-navbar-right {
  margin: -10px -18px -10px 50px !important;
  height: 66px;
  width: 100px;
  border-radius: 0px;
}

.btn-login {
  background-color: #1E55A9;
  color: #ffffff;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn-login:hover {
  background-color: #4587e9;
  color: #ffffff;
}

.section-details-header {
  min-height: 310px;
  background-color: #F7F9FF;
  margin-top: -120px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .country-text {
  font-family: 'Ibarra Real Nova', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-details-content .country-text .country-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-size: 22px;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 50PX;
  margin-left: 15px;
}

.section-details-content .breadcrumb-item.active {
  color: #1E55A9;
  font-weight: bold;
}

.section-details-content .section-main-content {
  background-color: #F7F9FF;
  padding: 30px;
  padding-right: 40px;
}

.section-details-header {
  min-height: 310px;
  background-color: #F7F9FF;
  margin-top: -120px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 50PX;
  margin-left: 15px;
}

.section-details-content .breadcrumb-item.active {
  color: #1E55A9;
  font-weight: bold;
}

.section-details-content .card-details-1 {
  padding: 30px;
  border-radius: 5px;
  margin-left: 15px;
}

.section-details-content .card-details-1 .left-content h1 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 0px;
}

.section-details-content .card-details-1 .left-content p {
  font-size: 20px;
  font-weight: lighter;
}

.section-details-content .card-details-1 .left-content .gallery .xzoom-container {
  display: block;
  padding: 0 20px;
}

.section-details-content .card-details-1 .left-content .gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 15px;
}

.section-details-content .card-details-1 .left-content .gallery .xzoom-container .xactive {
  border: 10px solid #1ABC9C;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-details-content .card-details-1 .right-content {
  margin-top: 70px;
}

.section-details-content .card-details-1 .right-content h2 {
  font-size: 20px;
  font-weight: 600;
}

.section-details-content .card-details-1 .right-content .info {
  font-size: 16px;
  font-weight: lighter;
}

.section-details-content .card-details-1 .right-content .features {
  margin-top: 10px;
}

.section-details-content .card-details-1 .right-content .features h2 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 0px;
}

.section-details-content .card-details-1 .right-content .features p {
  font-size: 14px;
  font-weight: lighter;
}

.section-details-content .card-details-1 .right-content .features .description {
  float: left;
  margin-left: 10px;
  overflow: hidden;
}

.section-details-content .card-details-1 .right-content .features .feature-img {
  float: left;
  width: 50px;
  height: 50px;
}

.section-details-content .card-details-2 {
  padding: 30px;
  border-radius: 5px;
  margin-left: 15px;
}

.section-details-content .card-details-2 .left-content h1 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 0px;
}

.section-details-content .card-details-2 .left-content p {
  font-size: 20px;
  font-weight: lighter;
}

.section-details-content .card-details-2 .left-content img {
  width: 70px;
  margin-right: 5px;
}

.section-details-content .card-details-2 .right-content h2 {
  font-size: 20px;
  font-weight: 600;
}

.section-details-content .card-details-2 .right-content .card-details-3 {
  padding: 20px 0px 0px 20px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.section-details-content .card-details-2 .right-content .card-details-3 .table-details {
  color: #1E55A9;
}

.section-details-content .card-details-2 .right-content .card-details-3 .table-details th {
  font-weight: normal;
}

.section-details-content .card-details-2 .right-content .card-details-3 .table-details td {
  font-weight: lighter;
  float: right;
}

.section-details-content .card-details-2 .right-content .join-container {
  margin-top: -20px;
}

.section-details-content .card-details-2 .right-content .join-container .btn-join {
  background-color: #FFB500;
  color: #fff;
  width: 100%;
  height: 50px;
  padding: 12px;
}

.section-details-content .card-details-2 .right-content .join-container .btn-join:hover {
  background-color: #fdcc4f;
}

.section-details-content .card-details-2 .right-content .cancel-container .btn-cancel {
  color: #acacac;
  width: 100%;
  font-weight: lighter;
  text-decoration: underline !important;
}

.section-details-content .card-details-2 .right-content .cancel-container .btn-cancel:hover {
  color: #d6d6d6;
}
/*# sourceMappingURL=details.css.map */