body {
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  color: #1E55A9;
}

body a {
  text-decoration: none !important;
}

.bg-light {
  background-color: #fff !important;
}

.navbar-brand {
  background-color: #fff;
  margin-top: -20px;
  padding-top: 20px;
}

.navbar-brand img {
  max-height: 100px;
}

.navbar-light .navbar-nav .nav-link {
  color: #1E55A9;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #1E55A9 !important;
  font-weight: bold;
}

.btn-navbar-right {
  margin: -10px -18px -10px 50px !important;
  height: 66px;
  width: 100px;
  border-radius: 0px;
}

.btn-login {
  background-color: #1E55A9;
  color: #ffffff;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn-login:hover {
  background-color: #4587e9;
  color: #ffffff;
}

@media (min-width: 992px) {
  .bg-light {
    background-color: transparent !important;
  }
  .navbar-brand {
    background-color: #fff;
    margin-top: -20px;
    padding-top: 20px;
  }
  .navbar-brand img {
    max-height: 300px;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 600;
  }
  .navbar-light .navbar-nav .nav-link.active {
    color: #ffffff !important;
    font-weight: bold;
  }
}

header {
  background-image: url(../images/new/hero-image.jpg);
  background-size: cover;
  padding: 266px 0px 223px 0px;
  margin-top: -130px;
}

header h1,
header p {
  color: #ffffff;
}

header h1 {
  font-family: 'Ibarra Real Nova', serif;
  font-weight: bold;
  font-size: 60px;
}

header p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-size: 22px;
}

header .btn-get-started {
  background-color: #FFB500;
  color: #ffffff;
  font-size: 22px;
  padding: 6px 23px;
  margin-top: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

header .btn-get-started:hover {
  background-color: #ffcf54;
}

.section-info {
  padding-top: 200px;
  padding-bottom: 220px;
  background-color: #F9FAFB;
}

.section-info h2 {
  font-family: 'Ibarra Real Nova', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-info h3 {
  font-family: 'Ibarra Real Nova', serif;
  font-weight: bold;
  font-size: 30px;
}

.section-info p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  color: #ACBBD2;
}

@media (max-width: 768px) {
  .section-info h2 {
    margin-top: 50px;
  }
}

@media (max-width: 575.98px) {
  .section-info img {
    margin: auto;
  }
}

.section-statistics h2 {
  font-family: 'Ibarra Real Nova', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-statistics p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  color: #ACBBD2;
}

.section-statistics .statistics h3 {
  font-family: 'Ibarra Real Nova', serif;
  font-weight: bold;
  font-size: 28px;
  color: #FFB500;
}

.section-statistics .statistics h4 {
  font-family: 'Ibarra Real Nova', serif;
  font-weight: bold;
  color: #1E55A9;
  font-size: 14px;
}

@media (max-width: 768px) {
  .section-statistics img {
    max-width: 340px;
    margin-top: 60px 0px 0px;
  }
}

.section-popular-header {
  margin-top: 160px;
  margin-bottom: 20px;
}

.section-popular-header h2,
.section-popular-header p {
  color: #1E55A9;
}

.section-popular-header h2 {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 40px;
  font-weight: bold;
}

.section-popular-header p {
  font-size: 18px;
  font-weight: lighter;
}

.section-popular-content .section-popular-travel a {
  text-decoration: none;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: #ddd;
  padding: 30px 0px;
  background-size: cover;
  margin-bottom: 20px;
  border-radius: 10px;
}

.section-popular-content .section-popular-travel .card-travel:hover .btn-travel-details {
  background-color: #FFB500;
  color: #fff;
  padding: 0px 0px 0px 10px;
  width: 100px;
  float: right;
  border-radius: 10px 0px 0px 10px;
}

.section-popular-content .section-popular-travel .travel-location {
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
  padding-left: 20px;
}

.section-popular-content .section-popular-travel .btn-travel-details {
  background-color: #222;
  color: #fff;
  padding: 0px 0px 0px 10px;
  width: 70px;
  float: right;
  border-radius: 10px 0px 0px 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-tour-destination-header {
  margin-top: 170px;
}

.section-tour-destination-header h2,
.section-tour-destination-header p {
  color: #1E55A9;
}

.section-tour-destination-header h2 {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 40px;
  font-weight: bold;
}

.section-tour-destination-header p {
  font-size: 18px;
  font-weight: lighter;
}

.section-tour-destination-content .card-tour-destination {
  min-height: 300px;
  margin-top: 20px;
}

.section-tour-destination-content .card-tour-destination img {
  background-position: center center;
}

.section-tour-destination-content .card-tour-destination .card-body .btn-price {
  margin-top: -70px;
  border-radius: 50px;
}

.section-tour-destination-content .card-tour-destination .card-body .card-title {
  color: #FFB500 !important;
  font-weight: 600;
}

.section-tour-destination-content .card-tour-destination .card-body p {
  color: #000;
  font-weight: lighter;
  line-height: 20px;
  text-align: justify;
}

.section-testimonials-header {
  background-image: url("../images/new/bg.png");
  min-height: 540px;
  padding-top: 150px;
}

.section-testimonials-header h1 {
  font-family: "Ibarra Real Nova", serif;
  font-weight: bold;
  font-size: 40px;
}

.section-testimonials-header p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}

.section-testimonials-content {
  margin-top: -240px;
  padding-bottom: 30px;
}

.section-testimonials-content .testimonials-carousel .card-testimonial .testimonials-content h5 {
  font-weight: lighter;
}

.section-testimonials-content .testimonials-carousel .card-testimonial .testimonials-content .name {
  font-weight: 600;
  float: left;
  margin-top: 15px;
}

.section-testimonials-content .testimonials-carousel .card-testimonial .testimonials-content p {
  margin-top: -12px;
  float: left;
}

.btn-get-started {
  background-color: #FFB500;
  color: #ffffff;
}

.btn-get-started:hover {
  background-color: #ffcf54;
}

.btn-need-help {
  border: 1px solid #1E55A9;
  color: #1E55A9;
}

.btn-need-help:hover {
  background-color: #1E55A9;
  border: 1px solid #fff;
  color: #fff;
}

.section-footer h5 {
  font-size: 22px;
  font-weight: 600;
}

.section-footer p {
  font-size: 22px;
  font-weight: lighter;
}
/*# sourceMappingURL=main.css.map */